{% extends 'MylibberBackendBundle::layout.html.twig' %}

  {% block body %}
		<form action="{{ path('mylibber_backend_addnew')}}" method="post" {{ form_enctype(form) }} class="bloger"> 
		    {{ form_widget(form) }} 
		 
		    <input type="submit" /> 
		</form> 
{% endblock %}