{% extends 'MylibberBackendBundle::layout.html.twig' %}
{% block title %} borrow books {% endblock %}

{% block body %}
  <div class="alert alert-info">
  <h4>借阅</h4>
</div>
<form action="{{ path('mylibber_backend_newBorrBook',{'id':book.Id})}}" method="post" {{ form_enctype(form) }} class="bloger"> 
		    {{ form_widget(form) }} 
		 
		    <input type="submit" /> 
		</form> 


{% endblock %}