{% extends 'MylibberBackendBundle::layout.html.twig' %}

{% block title %} history books {% endblock %}

{% block body %}  
<form action="{{ path('mylibber_backend_borrList') }}" method="get" name="f" onsubmit="return chkForm(this)" id="f">
		<tbody>
			<tr>
	        	<td colspan="2">
	       			<input type="text" name="strText" id="strText" value="">&nbsp;&nbsp;
	      		</td>
	      	</tr>
	      	<tr>
	        	<td align="right">请选择检索类型：</td>
	        	<td>
	          		<select class="option" name="SearchType" size="1" style="width:100px;">
	                    <option value="title">题&nbsp;&nbsp;名</option>
	                   	<option value="isbn">ISBN/ISSN</option>
	                </select> 
	            </td>
	      	</tr>
	      	<tr>
	      		<td>
	      			<input type="submit" class="submit" value="检索">
	      		</td>
	      	</tr>
		</tbody>

	</form>

{% endblock %}