{% extends 'MylibberBackendBundle::layout.html.twig' %}

{% block title %} history books {% endblock %}

{% block body %}  
		<form action="openlink.php" method="get" name="f" onsubmit="return chkForm(this)" id="f">
		<tbody>
			<tr>
	        	输入检索条件:<td colspan="2"><input type="hidden" id="historyCount" name="historyCount" value="1">
	       			<input type="text" size="45" maxlength="250" name="strText" id="strText" value="" class="paddingleft">&nbsp;&nbsp;
	                    <script language="javascript" type="text/javascript">
	                        document.f.strText.focus();
	                    </script>
	      		 	
	      		</td>
	      	</tr>
	      	<tr>
	        	<td align="right">请选择检索类型：</td>
	        	<td>
	          		<select class="option" name="strSearchType" size="1" style="width:100px;">
	                    <option value="title">题&nbsp;&nbsp;名</option>
	                    <option value="author">责任者</option>
	                   	<option value="isbn">ISBN/ISSN</option>
	                    <option value="publisher">出版社</option>
	                </select> 
	            </td>
	      	</tr>
	      	<tr>
	      		<td>
	      			<input type="submit" class="submit" value="检索">
	      		</td>
	      	</tr>
		</tbody>

	</form>
{% endblock %}