{# src/Mylibber/MyliberBundle/Resource/views/Page/about.html.twig #}

{% extends 'MylibberMylibBundle::layout.html.twig' %}

{% block title %} About {% endblock %}

{% block body %}
<header> 
        <h1> About Mylib </h1> 
    </header> 
    <article> 
        <p> 基于symfony完成一个图书管理系统，该系统具备如下功能:

	<p>图书录入</p>
	<p>图书借出</p>
	<p>图书归还</p>
	<p>图书归还</p>
	<p>图书查询</p>
	
	
	
	
	
	图书借阅历史 </p>
    </article>
{% endblock %}