{# src/Mylibber/MyliberBundle/Resource/views/Page/about.html.twig #}

{% extends 'MylibberMylibBundle::layout.html.twig' %}

{% block title %} Manage {% endblock %}

{% block body %}
<header> 
        <h1> Manage </h1> 
    </header> 
    <article> 
        <p> 基于symfony完成一个图书管理系统:
    </article>
{% endblock %}