{% extends 'MylibberBackendBundle::layout.html.twig' %}
  {% block title %} welcome admin{% endblock %}
  {% block body %}
<div class="alert alert-info">
  使用symfony2 完成的一个简易图书管理系统，暂且成为“网上图书馆”.
   该系统具备如下主要功能：
   <div class="alert alert-success">
  图书录入，图书借出，图书归还，图书查询。
</div>

<li>框架版本：symfony2, twitter-bootstrap</li>
<li>兼容浏览器：chrome firefox</li>
<li>环境：xmapp-for-linux集成开发套件, linux-ubuntu-12.04LTS X64</li>
<li>开发工具：sublime</li>
<li>版本控制：github   https://github.com/yinlianwei/mylib.git</li>
<li>作者： Evenvi</li>
<li>开发日期：2012.10.25-2012.11.5</li>



</div>
{% endblock %}