mylibber_mylib_homepage:
    pattern:  /hello/{name}
    defaults: { _controller: MylibberMylibBundle:Default:index }
MylibberMylibBundle_homepage: 
    pattern :   /
    defaults :  {  _controller: MylibberMylibBundle:Default:index  } 
    requirements : 
        _method :   GET

MylibberMylibBundle_about:
    pattern:    /about
    defaults:   { _controller: MylibberMylibBundle:Page:about}

MylibberMylibBundle_contact:
    pattern:    /contact
    defaults:   { _controller: MylibberMylibBundle:Page:contact}
    requirements:
       _method:   GET|POST

MylibberMylibBundle_book_show:
    pattern:   /show/{id}
    defaults:  {_controller: MylibberMylibBundle:Book:show}
    requirements:
       _method: GET
       id: \d+
MylibberMylibBundle_book_add:
    pattern:   /create
    defaults:  {_controller: MylibberMylibBundle:Book:create}

MylibberMylibBundle_search:
    pattern:   /bookSearch
    defaults:  {_controller: MylibberMylibBundle:Book:bookSearch}

MylibberMylibBundle_showbook:
    pattern:   /showbook
    defaults:  {_controller: MylibberMylibBundle:Book:showbook}

MylibberMylibBundle_list:
    pattern:   /list/
    defaults:  {_controller: MylibberMylibBundle:Book:showbook}

MylibberMylibBundle_detail:
    pattern:   /detail/{id}
    defaults:  {_controller: MylibberMylibBundle:Book:detail}